/* Core styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  min-height: 100%;
  transition:0.2s all ease;
}
a {
  color: #0012ff;
  text-decoration: none;
  padding: 0px 0px;
  transition:0.2s all ease;
  position:relative;
  padding-bottom:0px;
}
a:after {
	content: '';
	position: absolute;
	left:0px;
	top:100%;
	width:100%;
	height:1px;
	background: #0012ff;
	opacity:0;
	margin-top:6px;
	transition:0.2s all ease;
}	
a:hover {
	color:#0012ff;
}
a:hover:after {
	opacity:1.0;
	margin-top:0px;
}
a:focus {
	color:#000;
}
p.primary {
	font-size:19px;
	color:rgba(0,0,0,0.8);
	padding:0px;
	margin:0px;
	margin-bottom:15px;
}
@media screen and (max-width: 768px) {
	p.primary {
		font-size:16px;
	}
}
.spacing {
	font-size:13px;
	margin:0px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding:0px;
	vertical-align: middle;
}
p a {
	padding-bottom:0px;
}
b.primary {
	color: #0012ff!important;
}
.hidden {
	display:none!important;
}
.button {
	background:#0012ff;
	padding:12px 15px;
	border:1px solid #0012ff;
	color:#fff;
	transition:0.2s all ease;
	font-size:13px;
	margin:0px;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: middle;
	cursor:pointer;
}
.button:hover {
	border-color:#0012ff;
	color:#0012ff;
	background: transparent;
}
.button:focus {
	background:#000;
	color:#fff;
	border-color:#000;
}
.button.ghost {
	color:#000;
	border:0px;
	background:transparent;
	outline:none;
	cursor:pointer;
	border:1px solid transparent;
	transition:0.2s all ease;
}
.button.ghost:hover {
	border-color:#0012ff;
	color:#0012ff;
}
.button.small {
	width:auto;
	display:inline-block;
	font-size:13px;
	font-weight:100;
	text-transform:uppercase;
	letter-spacing: 0px;
	border-radius:999em;
	color:#0012ff;
	border:1px solid #0012ff;
	background: transparent;
	padding:5px 8px;
}
.inverted * {
	color:#fff!important;
	border-color:#fff!important;
}
.container {
	max-width:610px;
	margin:auto;
}
.container h1 {
	margin-top:0px;
}
@media screen and (max-width:498px) {
	.container {
		padding:15px;
	}
}
.container-inner {
	padding:40px 0px;
	width:100%;
}
.container.fullpage {
	min-height:100vh;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translateY(100%);
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s all ease;
}
.fade-leave.fade-leave-active {
	opacity:0;
	transform: translateY(100%);
}
.divider {
	margin:30px 0px;
	border-bottom:1px solid #eee;
	width:100%;
	height:1px;
}
.blocked {
  overflow:hidden;
}