.header {
	position: fixed;
	left:40px;
	top:40px;
	z-index:50;
}
@media screen and (max-width:498px) {
	.header {
		left:30px;
		top:30px;
	}
}
.header .navigation ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.header .navigation ul a li {
	padding:5px 0px;
	color:#000;
	text-transform:uppercase;
	font-weight:bold;
	position:relative;
}
.header .navigation a li:after {
	width:13px;
	height:13px;
	background:#000;
	content: '';
	position: absolute;
	left:-20px;
	bottom:7px;
	opacity:0;
	transition:0.2s all ease;
}
.header .navigation a li:hover:after {
	opacity:1.0;
}
.header .navigation ul a:last-child {
	margin-right:0px
}
.header .navigation {
	margin-top:10px;
	opacity:0;
	visibility: hidden;
	transition: 0.2s all ease;
}
.header .navigation.revealed {
	opacity:1.0;
	left:42px;
	visibility: visible;
}
.header .header-revealer {
	cursor:pointer;
}
.with-menu {
  opacity: .1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.header.visible .navigation {
	opacity:1;
	visibility: visible;
	margin-top:0;
}
.header.visible .header-revealer {
	display:none;
}
.header.static {
	position: static;
}
.header.horizontal .navigation ul {
	display:flex;
	flex-wrap:wrap;
}
.header.horizontal .navigation ul a li {
	padding:0;
}
.header.horizontal .navigation ul a li:after {
	display:none!important;
}
.header.horizontal .navigation ul a:after {
	background:#000;
}
.header.horizontal .navigation ul a {
	margin-right:15px;
}