.header .navigation {
	border-bottom:1px solid #eee;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.header .navigation ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	display:flex;
	flex-wrap:wrap;
}
.header .navigation a {
	border-bottom: 1px solid transparent;
  padding: 0px 8px 8px 8px;
  transition: 0.2s all ease;
  display:block;
}
.header .navigation a:hover {
	border-color:#000;
}
.header .navigation ul a li {
	padding:5px 0px;
	color:#000;
	font-weight:500;
	position:relative;
}
.header .navigation ul a li i {
	font-size:12px;
	vertical-align: middle;
	opacity:.4;
}
.header .header-logo {
	display:block;
}
.header .header-logo img {
	width:30px;
	height:30px;
}