.blocks .block {
	padding:20px 20px;
}
.blocks .block p {
	margin:0px;
}
.blocks .block.primary {
	margin-top:15px;
	padding-bottom:20px;
}
.blocks .block.bordered {
	border-bottom:1px solid #eee;
}
.block-title {
	position: relative;
	cursor: pointer;
}
.block-title .title {
	margin:0;
	position: relative;
	display:inline-block;
}
.block-title .description {
	font-size:19px;
	font-weight:100;
	margin-top:5px;
	color:#666;
	margin-bottom:0;
}
.block-title .anchor {
	position: absolute;
	left:-30px;
	top:5px;
	opacity:.4;
	transition: 0.2s all ease;
	margin-right:10px;
	font-size:30px;
	vertical-align: middle;
}
@media screen and (max-width:992px) {
	.block-title .anchor {
		font-size:20px;
		top:11px;
		left:-20px;
	}
}
@media screen and (max-width:680px) {
	.block-title .anchor {
		display: none;
	}
}
.block-title:hover .anchor {
	opacity:1;
}