.button-group {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.button-group > * {
	margin:5px;
}
.button-group > *:first-child {
	margin-left:0;
}
.button-group > *:last-child {
	margin-right:0;
}
.button {
	background:#0012ff;
	padding:12px 15px;
	border:1px solid #0012ff;
	color:#fff;
	transition:0.2s all ease;
	font-size:13px;
	margin:0px;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: middle;
	cursor:pointer;
	display:inline-block;
}
@media screen and (max-width: 497px) {
	.button-group > * {
		margin:10px 0px;
		width:100%;
	}
	.button, .button.ghost {
		display:block;
		width:100%;
	}
	.button-group .button {
		width:100%;
	}
}
.button:hover {
	border-color:#0012ff;
	color:#0012ff;
	background: transparent;
}
.button:focus {
	background:#000;
	color:#fff;
	border-color:#000;
}
.button.ghost {
	color:#000;
	background:transparent;
	outline:none;
	cursor:pointer;
	border:1px solid #eee;
	transition:0.2s all ease;
}
.button.ghost:hover {
	border-color:#0012ff;
	color:#0012ff;
}
.button.small {
	width:auto;
	display:inline-block;
	font-size:13px;
	font-weight:100;
	text-transform:uppercase;
	letter-spacing: 0px;
	border-radius:999em;
	color:#0012ff;
	border:1px solid #0012ff;
	background: transparent;
	padding:5px 8px;
}
.button a {
	color:#fff;
}
.button:hover a {
	color:#0012ff;
}
.button a:after {
	display:none;
}