body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  min-height: 100%;
  transition:0.2s all ease;
}
a {
  color: #0012ff;
  text-decoration: none;
  transition:0.2s all ease;
  position:relative;
}
a.primary:after {
	content: '';
	position: absolute;
	left:0px;
	top:100%;
	width:100%;
	height:1px;
	background: #0012ff;
	opacity:0;
	margin-top:6px;
	transition:0.2s all ease;
}
a:hover {
	color:#0012ff;
}
a.primary:hover:after {
	opacity:1.0;
	margin-top:0px;
}
a:focus {
	color:#000;
}
.divider {
	margin:30px 0px;
	border-bottom:1px solid #eee;
	width:100%;
	height:1px;
}
form {
	margin:0!important;
}