.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}
.h1.super,
h1.super {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.1;
}
.h2.super,
h2.super {
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 1.1;
}
.h3.super,
h3.super {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.1;
}
.h4.super,
h4.super {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.1;
}
.h5.super,
h5.super {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
}
.h6.super,
h6.super {
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 1.1;
}
@media screen and (max-width:992px) {
  .h1.super,
  h1.super {
    font-size: 4rem;
  }
  .h2.super,
  h2.super {
    font-size: 3.5rem;
  }
  .h3.super,
  h3.super {
    font-size: 2.5rem;
  }
  .h4.super,
  h4.super {
    font-size: 2rem;
  }
}
@media screen and (max-width:576px) {
  .h1.super,
  h1.super {
    font-size: 3rem;
  }
  .h2.super,
  h2.super {
    font-size: 2.5rem;
  }
  .h3.super,
  h3.super {
    font-size: 2rem;
  }
  .h4.super,
  h4.super {
    font-size: 1.5rem;
  }
}