.jumbotron {
	width:100%;
	position: absolute;
	z-index:20;
	top:0;
}
.jumbotron-title .title,
.jumbotron-title img {
	display:inline;
	vertical-align: middle;
}
.jumbotron-title img {
	margin-right:15px;
	width:65px;
	height:65px;
}
.jumbotron-title {
	margin-bottom:15px!important;
}
@media screen and (max-width:992px) {
	.jumbotron-title img {
		width:60px;
		height:60px;
	}
}
@media screen and (max-width:576px) {
	.jumbotron-title img {
		width:40px;
		height:40px;
	}
}
.jumbotron-actions {
	margin-top:30px;
}