.page {
	min-height:100vh;
}
section {
	padding:50px 50px;
	margin:auto;
	display:inline-block;
	border-bottom:1px solid #eee;
	overflow:hidden;
	position: relative;
	width:100%;
}	
@media screen and (max-width:992px) {
	section {
		padding:50px 15px;
	}
}
@media screen and (max-width:576px) {
	section {
		padding:50px 15px;
	}
}
section:first-child {
	padding-top:0px;
}
section:last-child {
	padding-bottom:0px;
}
section.fullpage {
	min-height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	padding:0px 0;
	overflow-x:hidden;
}
section.fullpage .container {
	margin:70px 0;
}
@media screen and (max-width:576px) {
	section.fullpage .container {
		margin:30px 0;
	}
}
section .section-background {
	position: absolute; 
  width: 200%; 
  max-height:100vh;
  min-height:100vh;
  height:100vh;
  overflow:hidden;
  z-index:-10;
}
section .section-background img,
section .section-background .gradient {
	position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
} 
@media screen and (max-width:722px) {
	section .section-background {
		width:300%;
	}
}
@media screen and (max-width:487px) {
	section .section-background {
		width:400%;
	}
}
section.center {
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
section.left {
	text-align:left;
	align-items:flex-start;
}
section .section-title {
	text-align:center;
	display:inline-block;
	width:100%;
	margin:0;
}
section .section-title .title {
	margin:0!important;
	font-weight:bold;

}
section .section-title .description {
	font-size:20px;
	font-weight:100;
}
section .section-title.left {
	text-align: left;
}
section .section-actions {
	text-align:center;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
	margin-top:50px;
}
@media screen and (max-width:567px) {
	section .section-actions {
		margin-top:25px;
	}
}
section .section-actions > * {
	display: block;
	margin:5px 0px;
}
section .section-content {
	width:100%;
	text-align:center;
	position: relative;
	display:inline-block;
}
section.grey {
	background:#fafafa;
}
section .section-title .description {
	font-size:20px;
	font-weight:100;
}
section .section-title > * {
	margin-top:0px;
}
.container {
	max-width:900px;
	width:100%;
	margin:auto;
	position: relative;
}
.container.text {
	max-width:650px;
}
.container.wide {
	max-width:1100px;
}