.list {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.list.with-margin {
	padding:50px 0;
}
.list.with-margin-bottom {
	padding-bottom:50px;
}
.list li {
	font-weight:bold;
}
.list.horizontal {
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	align-items:center;
	margin:30px 0px;
}
@media screen and (max-width: 576px) {
	.list.horizontal {
		flex-direction: row;
	}
	.list.horizontal .item {
		width:50%;
	}
} 
.list.horizontal .item {
}
.list.horizontal .item img {
	width:86px;
}
.list.wide {
	text-align:left;
	width:100%;
	counter-reset: list 0;
}
.list.wide .item {
	width:100%;
	position: relative;
	padding-left:40px;
}
@media screen and (max-width:576px) {
	.list.wide .item {
		padding-left:0px;
	}
	.list.wide .item:after,
	.list.wide .item:before {
		display:none;
	}
}
.list.wide .item:first-child .super {
	margin-top:0px;
}
.list.wide .item:before {
	position:absolute;
	left:0px;
	top:0px;
	font-size:25px;
	counter-increment: list;
  content: counter(list);
  color:#0012ff;
}
.list.wide .item:after {
	left:5px;
	height:100%;
	width:1px;
	top:45px;
	background: #0012ff;
	content: '';
	position: absolute;
}
.list.wide .item:last-child:after {
	display:none;
}
.list .item {
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-bottom:5px;
}
.list .item .content {
	font-weight:100;
	font-size:18px;
}
.list .item .icon img {
	width:20px;
	height:20px;
}
.list .item .icon {
	min-width:40px;
	position: relative;
	min-height:12px;
}
.list .item .icon i {
	position: absolute;
	top:0;
	left:0;
	font-size:14px;
}