.promos {
  max-width: 100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;
  padding:50px auto;
  margin-bottom:100px;
}
@media screen and (max-width:866px) {
  .promos {
    flex-direction:column;
  }
  .promo.left {
    margin-right:0px!important;
  }
  .promo.right {
    margin-left:0px!important;
  }
  .promo.scale {
    position: static;
  }
  .promos .promo {
    width:100%;
  }
}
.promo {
  margin: 1em .5em 1.625em;
  padding: .25em 0 2em;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.625;
  color: #333;
  text-align: center;
  border-radius:8px;
  width: 33.333%;
  min-width:300px;
  padding:20px 0;
}
.promo.left {
  margin-right:110px;
}
.promo.right {
  margin-left:110px;
}
@media (min-width: 40em) {
  .promo {
    width: 33.333%;
    margin: 1em 0 0;
  }
  .promo.first {
    border-right: none;
  }
  .promo.second {
    border-left: none;
  }
}
.promo h5 {
  margin-top:30px;
  margin-bottom:0px;
}
.promo .features {
  margin: 0;
  padding: 20px;
  list-style-type: none;
  color: #000;
}
.promo li {
  padding: .25em 0;
}
.promo .brief {
  color: #000;
}
.promo .price {
  padding:0 0;
  margin-bottom:20px;
  display:inline-block;
  font-size: 250%;
  color: #000;
  position: relative;
}
.promo.scale .price {
  color: #0012ff;
}
.promo .price:after {
  content:'';
  position: absolute;
  background: #333;
  width:50px;
  height:1px;
  left:0px;
  bottom:0px;
}
.promo.scale .price:after {
  background: #0012ff;
}
.promo .buy {
  margin: 1em 0 0;
}
.scale {
  transform: scale(1.09);
  position: absolute;
  z-index:900;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width:300px;  
}

