.statistics {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	align-items: stretch;
}
.statistics .statistic {
	max-width:200px;
	width:200px;
	text-align: center;
}
.statistics .statistic .number {
	font-size:50px;
	font-weight:100;
	color:#006DF0;
}
.statistics .statistic .number img {
	width:64px;
	margin:auto;
}