p.primary {
	font-size:19px;
	color:rgba(0,0,0,0.8);
	padding:0px;
	margin:0px;
	margin-bottom:15px;
	font-weight:100;
}
@media screen and (max-width: 768px) {
	p.primary {
		font-size:18px;
	}
}
@media screen and (max-width: 567px) {
	p.primary {
		font-size:16px;
	}
}
.spacing {
	font-size:90%;
	margin:0px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding:0px;
	vertical-align: middle;
}