.footer {
  width:100%;
  position:fixed;
  bottom:0px;
  left:0px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.footer .footer-wrapper {
	padding:40px;
  display:flex;
  align-items:center;
  justify-content:center;
}
@media screen and (max-width: 498px) {
	.footer .footer-wrapper {
		padding: 15px;
	}
}
.footer.onPage {
  color:#444;
  font-size:15px;
  font-weight:100;
  width:100%;
  position: static;
}
.footer.onPage .footer-wrapper {
  justify-content: space-between;
  align-items: center;
  position: static;
  border-top:1px solid #e1e1e1;
  padding:13px 8px;
  padding-bottom:0;
  width:100%;
}