.footer {
  width:100%;
  position:fixed;
  bottom:0px;
  left:0px;
  z-index:10;
  display:flex;
  align-items:center;
  justify-content:center;
}
.footer .footer-wrapper {
  padding:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
@media screen and (max-width: 498px) {
  .footer .footer-wrapper {
    padding: 15px;
  }
}
@media screen and (max-height:568px) {
  .footer {
    display:none;
  }
}
.footer.onPage {
  color:#444;
  font-size:15px;
  font-weight:100;
  width:100%;
  position: static;
}
.footer.onPage .footer-wrapper {
  justify-content: space-between;
  align-items: center;
  position: static;
  padding:13px 0;
  padding-bottom:0;
  width:100%;
}